name: project_001_CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install poetry
          poetry install --no-root
        working-directory: ./backend

      - name: Run flake8
        run: poetry run flake8 .
        working-directory: ./backend

      - name: Run tests
        run: poetry run pytest ../tests
        working-directory: ./backend
