name: project_001_CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install poetry
          cd backend
          poetry install --no-root
        # working-directory: ./backend

      - name: Run flake8
        run: |
          cd backend
          poetry run flake8 . --config=../.flake8
        # working-directory: ./backend

      - name: Run tests
        env:
          TESTING: "true"
        run: |
          cd backend
          PYTHONPATH=$PYTHONPATH:$(pwd) poetry run pytest ../tests/
